* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #e91e63;
}

button {
	width: 75px;
	height: 70px;
	font-size: 25px;
	margin: 2px;
	border: none;
	border-radius: 50%;
}

#textview {
	width: 305px;
	margin: 18px 0px;
	font-size: 30px;
	padding: 11px;
	border: none;
	background-color: transparent;
	color: white;
	text-align: right;
}

.wrap {
	width: 328px;
	height: 550px;
	background-color: #424242;
	margin: 50px auto;
	border-radius: 10px;
}

.equals {
	width: 158px;
	border-radius: 50px;
}

.number {
	font-weight: bold;
	background-color: #f1f1f1;
	transition: 0.2s all ease-out
}

.number:hover {
	background-color: #9e9e9e;
}

.calculator {
	transition: 0.2s all ease-out;
}

.calculator:hover {
	background-color: #78909c;
	color: white;
}

.symbol {
	background-color: orange;
	color: white;
	transition: 0.2s all ease-out;
}

.symbol:hover {
	background-color: #3e96d1;
}